<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">
                        {{ site.data.texts.about[lang].title }}                                            
                    </h2>
                    <h3 class="section-subheading text-muted">
                        {{ site.data.texts.about[lang].subtitle }}
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        {% if lang == 'en' %}
                            {% for about in site.data.about-en %}
                                {% include about_subject.html %}
                            {% endfor %}
                        {% else %}
                            {% for about in site.data.about-fi %}
                                {% include about_subject.html %}
                            {% endfor %}
                        {% endif %}

                        <li class="timeline-inverted">
							<a href="#contact">
								<div class="timeline-image">
									<h4>{{ site.data.texts.about[lang].join }}</h4>
								</div>
							</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>