{% if page.url contains '/en' %}
    {% assign lang = 'en' %}
{% else %}
    {% assign lang = 'fi' %}
{% endif %}
<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">
                        {{ site.data.texts.contact[lang].reg-title }}
                    </h2>
                </div>
            </div>
            <div class="row text-center">
				<div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-file fa-stack-1x fa-inverse"></i>
                    </span>
					<p>
                        {{ site.data.texts.contact[lang].subscribe }}
                    </p>
                    <p>
                        {% if lang == 'en' %}
        			    <a href="https://docs.google.com/forms/d/e/1FAIpQLSeoS0NuRA8kjvFWyiwN12WowhALUeSL0ClKp43dQpCxO_yCGg/viewform">
                        {{ site.data.texts.contact[lang].form }}
		            </a>
                        {% else %}
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSd7_ds9VMDyp2eTCbH4u-YvQcO3DJE2zEBT3lHmgLVZXBeJ9Q/viewform">
                        {{ site.data.texts.contact[lang].form }}
		            </a>
                        {% endif %}                            
                    </p>
					<p class="text-muted">
                        {{ site.data.texts.contact[lang].prices1 }}
                    </p> 
					<p class="text-muted">
                        {{ site.data.texts.contact[lang].prices2 }}
                    </p>  
					<p class="text-muted">
                        {{ site.data.texts.contact[lang].prices3 }}
                    </p>
                </div>
				<div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
					<p>{{ site.data.texts.contact[lang].more }}</p>
                    <p>recracfin(at)gmail.com</p>
                </div>
            </div>
        </div>
    </section>
