{% if page.url contains '/en' %}
    {% assign lang = 'en' %}
{% else %}
    {% assign lang = 'fi' %}
{% endif %}
<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"><img src="/img/logos/rrf_logo_small.gif"> {{site.title}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#raceinfo">Race</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">
                            {{ site.data.texts.other[lang].infolink }}
                        </a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">
                            {{ site.data.texts.about[lang].title }}
                        </a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">
                            {{ site.data.texts.contact[lang].reg-title }}
                        </a>
                    </li>
<!--                    <li>
                        <a class="page-scroll" href="/{{ lang }}/events">
                            {{ site.data.texts.other[lang].calendar }}
                        </a>
                    </li>-->
                    <li>
                        {% if lang == 'en' %}
                        <a class="page-scroll" href="/">{{ site.data.texts.other[lang].languagelink }}</a>
                        {% else %}
                        <a class="page-scroll" href="/en">{{ site.data.texts.other[lang].languagelink }}</a>
                        {% endif %}                            
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container-fluid">
            <div class="intro-text">
                <div class="intro-lead-in">
                    {% if page.url contains '/en' %}
                        2019 results are online, see you again on 2020 at
                    {% else %}
                        2019 tulokset julkaistu, 2020 ajetaan taas
                    {% endif %}                                                
                </div>
                <div class="intro-heading">
                    {% if page.url contains '/en' %}
                        Räyskälä race 
                    {% else %}
                        Räyskälässä !
                    {% endif %}                            
                    
                </div>
                <div id="clockdiv">
                    <div>
                        <span class="days"></span>
                        <span class="smalltext">
                    {% if page.url contains '/en' %}
                            Days
                    {% else %}
                            Päivää
                    {% endif %}                                                                    
                        </span>
                    </div>
                    <div>
                        <span class="hours"></span>:
                        <span class="minutes"></span>:
                        <span class="seconds"></span>
                    </div>
                </div>
                <a href="#raceinfo" class="page-scroll btn btn-xl">
                    {% if page.url contains '/en' %}
                        Tell me more
                    {% else %}
                        Kerro lisää
                    {% endif %}                                                                    
                </a>
                <a href="https://www.youtube.com/watch?v=TC4AC_79fYY" class="page-scroll btn btn-xl" target="_blank">
                    {% if page.url contains '/en' %}
                        2018 action video by Saukki
                    {% else %}
                        Katso 2018 video by Saukki
                    {% endif %}                                                                    
                </a>
            </div>
        </div>
    </header>

