<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% assign photos = site.static_files | where: "image", true %}
    {{ photos }}
    {% for photo in photos %}
    <div class="col-md-2 col-sm-6">
        {{ photo.path }}
    </div>
    {% endfor %}

    {% include clients.html %}
    {% include footer.html %}
    {% include js.html %}
    
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> {{ site.data.texts.other[lang].close-button }}</button>

    </body>
</html>